* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

:root {
  --Main-Color: #2196f3;
  --Main-Color-alt: #1787e0;
  --Color-Bg: rgb(21, 33, 43);
  --Transition-Main: .4s ease;
}

body {
  font-family: 'Cairo serif';
}

header {
  position: fixed;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #0000002d;
  z-index: 999;
}

header .container {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0 10%;
  overflow: hidden;
}

header .container h2 {
  color: var(--Main-Color);
  font-size: 2.5em;
  font-weight: 900;
  text-transform: capitalize;
  transition: var(--Transition-Main);
}

header .container h2:hover {
  color: var(--Main-Color-alt);
}

header .container ul {
  /* position: relative; */
  display: flex;
  list-style-type: none;
}

header .container ul li a {
  position: relative;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--Main-Color);
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--Transition-Main);
  overflow: hidden;
}

header .container ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: -100%;
  border-radius: 10px;
  background-color: var(--Main-Color);
  transition: var(--Transition-Main);
}

header .container ul li a:hover::before {
  left: 0;
}

header .container ul li a:hover {
  color: var(--Main-Color-alt);
  background-color: #fafafa;
}